.env
.env.local
.venv
__pycache__
*.pyc
*.db
*.db-shm
*.db-wal
*.npz
.pytest_cache
.mypy_cache

frontend/.env
frontend/.env.local
frontend/dist
frontend/node_modules

data
hardcover.db
hardcover_v1.db
hardcover_v2.db
svd_model.npz
hc_recommendations.png
